@import "nullstyle.css";
@import "fonts.css";
@import "sidebar.css";
@import "header.css";
@import "main.css";
@import "aside.css";

body{
	min-height: 100vh;
	font-family: 'Conv_Gilroy-Medium', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
	height: 100vh;
	display: grid;
	grid-template-rows: [full-start menu-start] minmax(113px, 15vh) [menu-end main-start] 1fr [main-end full-end];
	grid-template-columns: [full-start menu-start] minmax(113px, 15vh) [menu-end main-start] 1fr [main-end aside-start] minmax(250px, 40vh) [aside-end full-end];
}
.menu {
	background-color: #393D46;
	grid-area: menu-start/menu-start/menu-end/menu-end; 
	display: flex;
}
.menu a{
	margin: auto;
}

