@import "nullstyle.css";
@import "fonts.css";
@import "sidebar.css";
@import "header.css";

body{
	min-height: 100vh;
}
.container {
	height: 100vh;
	display: grid;
	grid-template-rows: [full-start menu-start]  minmax(113px, 15vh) [menu-end main-start] 1fr [main-end full-end];
	grid-template-columns: [full-start menu-start] minmax(113px, 15vh) [menu-end main-start] 1fr [main-end full-end];
}
.menu {
	background-color: #393D46;
	grid-area: menu-start/menu-start/menu-end/menu-end; 
	display: flex;
}
.menu a{
	margin: auto;
}
.main {
	grid-area: main-start/main-start/full-end/full-end;
}
